<p id="notice"><%= notice %></p>
<section class="content-header">
  <%= link_to new_admin_order_path, class: 'btn btn-app' do %>
    <i class="fa fa-edit"></i> Novo Pedido
  <% end %>
  <ol class="breadcrumb">
    <li><%= link_to admin_root_path do %><i class="fa fa-dashboard"></i> Dashboard<% end %></li>
    <li class="active">Pedidos</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h1 class="box-title">Pedidos</h1>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th style="width: 10px">ID</th>
                <th>Cliente</th>
                <th>Status</th>
                <th>Total</th>
                <th ></th>
              </tr>
              <% @orders.each do |order| %>
                <tr>
                  <td><%= order.id %></td>
                  <td><%= link_to order&.user&.email || 'Pedido em andamento', admin_order_path(order) %></td>
                  <td><%= link_to order.status, admin_order_path(order) %></td>
                  <td><%= link_to order.total, admin_order_path(order) %></td>
                  <td><%= link_to 'Apagar', admin_order_path(order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>

          </tbody></table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
          <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">»</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<br>

<%= link_to 'New order', new_admin_order_path %>