<div id="breadcrumb" class="section">
  <div class="container">
    <div class="row">
      <h3 class="breadcrumb-header">Meus Pedidos</h3>
    </div>
  </div>
</div>

 <!-- /.box-header -->
<div class="container">
  <div class="box-body">
  <% if @my_orders.count == 0%>
  <p>Você ainda não realizou nenhuma compra :( Bora abrir a carteira?</p>
  <% else %>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th style="width: 10px">ID do Pedido</th>
          <th>Nome do Produto</th>
          <th>Status</th>
          <th>Data do Pedido</th>
          <th>Método de pagamento</th>
          <th>Valor da compra</th>
        </tr>
        <% @my_orders.each do |z| %>
        <tr>
          <td><%= z.id %></td>
          <% @my_products = my_products(z) %>
          <td>          
          <% @my_products.each do |a| %>
            <p> • <%= Product.find(a).name %> (x<%= product_quanity(z,a) %>)</p>
          <% end %>
          </td>
          <td><%= z.status.capitalize %></td> 
          <td><%= z.created_at.strftime("%d/%m/%Y %H:%M") %></td>
          <% if z.payment_method.eql? 'bank_slip' %>
          <td>Boleto</td>
          <% elsif z.payment_method.eql? 'credit_card' %>
          <td>Cartão de crédito</td>
          <% else %>
          <td></td>
          <% end %>
          <td>R$ <%= z.total %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>

        <!-- /.box-body -->