<p id="notice"><%= notice %></p>
<section class="content-header">
  <%= link_to new_admin_category_path, class: 'btn btn-app' do %>
    <i class="fa fa-edit"></i> Nova Categoria
  <% end %>
  <ol class="breadcrumb">
    <li><%= link_to admin_root_path do %><i class="fa fa-dashboard"></i> Dashboard<% end %></li>
    <li class="active">Categorias</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h1 class="box-title">Categorias</h1>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th style="width: 10px">ID</th>
                <th>Name</th>
                <th>Description</th>
                <th ></th>
              </tr>
              <% @categories.each do |category| %>
                <tr>
                  <td><%= category.id %></td>
                  <td><%= link_to category.name, admin_category_path(category) %></td>
                  <td><%= link_to category.description, admin_category_path(category) %></td>
                  <td><%= link_to 'Show', admin_category_path(category) %></td>
                  <td><%= link_to 'Edit', edit_admin_category_path(category) %></td>
                  <td><%= link_to 'Apagar', admin_category_path(category), method: :delete, data: { confirm: 'Tem certeza que deseja apagar?' } %></td>
                </tr>
              <% end %>

          </tbody></table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
          <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">»</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<br>

<%# <%= link_to 'New Category', new_admin_category_path %> 