<p id="notice"><%= notice %></p>
<section class="content-header">
  <%= link_to new_admin_user_path, class: 'btn btn-app' do %>
    <i class="fa fa-edit"></i> Novo Usuário
  <% end %>
  <ol class="breadcrumb">
    <li><%= link_to admin_root_path do %><i class="fa fa-dashboard"></i> Dashboard<% end %></li>
    <li class="active">Usuários</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h1 class="box-title">Usuários</h1>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th style="width: 10px">ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th ></th>
              </tr>
              <% @users.each do |user| %>
                <tr>
                  <td><%= user.id %></td>
                  <td><%= link_to user.name, '#' %></td>
                  <td><%= link_to user.email, '#' %></td>
                  <td><%= link_to 'Show', admin_user_path(user) %></td>
                  <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
                  <td><%= link_to 'Apagar', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>

          </tbody></table>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
</section>

<br>

<%#= link_to 'New Category', new_admin_category_path %>
